@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container " id="banner-image">
    
        <div class="d-flex justify-content-center">

            <a href="/index"><img src="~/Images/travel.jpg" class="img-fluid" alt="Responsive image"/></a>
        </div>
    
</div>
