@model List<ITHS_CMSProject.ModelClasses.PageView>

<div class="sidenav">

    @if (Model != null)
    {
        @foreach (var page in Model)
        {
            <a asp-area="" asp-page="@(page.PageLink)">@(page.PageName)</a>
        }
    }

    @*<partial name="_LoginPartial" />*@

</div>
