@page
@model ITHS_CMSProject.Pages.Admin.IndexModel
@{
    Layout = "Admin_Layout";
}

<div class="d-flex flex-wrap justify-content-center">
    <h1 class="align-content-center">Settings</h1>

    <a asp-page="/Title/Index"> Title</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    @*<p class="align-content-lg-center">
            <a asp-page="~/Admin/Index">Title</a>
        </p>*@
    <a asp-page="/BannerImage/Index"> Banner</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    @*<p>
        <a asp-page="~/BannerImage/Index">Banner</a>
    </p>*@
</div>