@page
@model ITHS_CMSProject.Pages.Admin.IndexModel
@{
    Layout = "Admin_Layout";
}

<div class="container">
    <div class="d-flex flex-wrap justify-content-lg-start">
        <h1 class="align-content-center">Settings</h1><br />
    </div>

    <div>
        <a asp-page="/Admin/Pages/indexpages"> Pages</a>
        <button class="btn" type="button" data-toggle="collapse" data-target="collapse" aria-controls=""
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div>
        <a asp-page="/Admin/PageContent/IndexContent"> Page Content</a>
        <button class="btn" type="button" data-toggle="collapse" data-target="collapse" aria-controls=""
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div>
        <a asp-page="/Admin/Blog/index"> Blog</a>
        <button class="btn" type="button" data-toggle="collapse" data-target="collapse" aria-controls=""
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div>
        <a asp-page="/Admin/Header/IndexHeader"> Header</a>
        <button class="btn" type="button" data-toggle="collapse" data-target="collapse" aria-controls=""
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div>
        <a asp-page="/Admin/Footer/IndexFooter"> Footer</a>
        <button class="btn" type="button" data-toggle="collapse" data-target="collapse" aria-controls=""
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

</div>