@page
@model ITHS_CMSProject.Pages.Title.EditModel
@{
    Layout = "Admin_Layout";
}

<h1>Edit</h1>

<h4>Edit Title</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Title.TitleId" />
            <div class="form-group">
                <label asp-for="Title.Title" class="control-label"></label>
                <input asp-for="Title.Title" class="form-control" />
                <span asp-validation-for="Title.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title.ShortDescription" class="control-label"></label>
                <input asp-for="Title.ShortDescription" class="form-control" />
                <span asp-validation-for="Title.ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
