@page
@model ITHS_CMSProject.Pages.ContactsModel
@{
    ViewData["Title"] = Model.PageContentView.Title;
}

<div class="about-top">
    <div class="cc-center">
        <div class="text-container">
            <h1 class="h1">@Model.PageContentView.Title</h1>
        </div>
    </div>
</div>

<div class="about-blog">
    <div class="cc-center">
        <div class="text-container">
            <div class="section-title-big">
                @Html.Raw($"<div>{Model.PageContentView.Content}</div>")
            </div>
        </div>
    </div>
</div>